<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="DataURL" type="xstring" value="file:/Users/emanuelecarnati/Desktop/DS-LAB-IN-MEDICINE/medical%20imaging%20&amp;%20Big%20Data/datasetextended.csv"/>
<config key="Delimiters">
<config key="Delim0">
<entry key="pattern" type="xstring" value="%%00010"/>
<entry key="combineMultiple" type="xboolean" value="true"/>
<entry key="includeInToken" type="xboolean" value="false"/>
<entry key="returnAsToken" type="xboolean" value="true"/>
</config>
<config key="Delim1">
<entry key="pattern" type="xstring" value="%%00013"/>
<entry key="combineMultiple" type="xboolean" value="true"/>
<entry key="includeInToken" type="xboolean" value="false"/>
<entry key="returnAsToken" type="xboolean" value="true"/>
</config>
<config key="Delim2">
<entry key="pattern" type="xstring" value=","/>
<entry key="combineMultiple" type="xboolean" value="false"/>
<entry key="includeInToken" type="xboolean" value="false"/>
<entry key="returnAsToken" type="xboolean" value="false"/>
</config>
</config>
<config key="Quotes">
<config key="Quote0">
<entry key="left" type="xstring" value="&quot;"/>
<entry key="right" type="xstring" value="&quot;"/>
<entry key="EscChar" type="xchar" value="\"/>
<entry key="DontRem" type="xboolean" value="false"/>
</config>
<config key="Quote1">
<entry key="left" type="xstring" value="'"/>
<entry key="right" type="xstring" value="'"/>
<entry key="EscChar" type="xchar" value="\"/>
<entry key="DontRem" type="xboolean" value="false"/>
</config>
</config>
<config key="Comments"/>
<config key="WhiteSpaces">
<entry key="WhiteSpace0" type="xstring" value=" "/>
<entry key="WhiteSpace1" type="xstring" value="%%00009"/>
</config>
<entry key="CombineMultDelims" type="xboolean" value="false"/>
<entry key="SkipFirstLines" type="xlong" value="0"/>
<entry key="NewLineInQuotes" type="xboolean" value="false"/>
<entry key="hasColHdr" type="xboolean" value="true"/>
<entry key="hasRowHdr" type="xboolean" value="false"/>
<entry key="ignoreEmptyLines" type="xboolean" value="true"/>
<entry key="rowPrefix" type="xstring" value="Row"/>
<config key="RowDelims">
<entry key="RDelim0" type="xstring" value="%%00010"/>
<entry key="SkipEmptyLine0" type="xboolean" value="true"/>
<entry key="RDelim1" type="xstring" value="%%00013"/>
<entry key="SkipEmptyLine1" type="xboolean" value="true"/>
</config>
<config key="MissingPatterns"/>
<config key="FormatParameter"/>
<entry key="globalMissPattern" type="xstring" isnull="true" value=""/>
<entry key="DecimalSeparator" type="xchar" value="."/>
<entry key="ThrousandsSeparator" type="xchar" value="%%00000"/>
<entry key="ignEmtpyTokensAtEOR" type="xboolean" value="false"/>
<entry key="acceptShortLines" type="xboolean" value="false"/>
<entry key="uniquifyRowID" type="xboolean" value="false"/>
<entry key="MaxNumOfRows" type="xlong" value="-1"/>
<entry key="ColNumDetermLine" type="xint" value="-1"/>
<entry key="CharsetName" type="xstring" isnull="true" value=""/>
<entry key="ConnectTimeoutInSeconds" type="xint" value="1"/>
<entry key="delimsAtEOLuserVal" type="xboolean" value="false"/>
<entry key="numOfColumns" type="xint" value="59"/>
<config key="ColumnProperties">
<config key="0">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="mtv"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="1">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="surface"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="2">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="spherical_disproportion"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="3">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="sphericity"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="4">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="stv_ratio"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="5">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="max"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="6">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="min"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="7">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="mean"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="8">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="median"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="9">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="MAD"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="10">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="rms"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="11">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="energy"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="12">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="entropy"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="13">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="kurtosis"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="14">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="skewness"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="15">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="std"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="16">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="uniformity"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="17">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="variance"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="18">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_energy"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="19">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_contrast"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="20">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_entropy"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="21">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_homogeneity"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="22">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_correlation"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="23">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_sumaverage"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="24">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_variance"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="25">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_dissimilarity"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="26">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glcm_autocorrelation"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="27">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_sre"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="28">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_lre"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="29">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_gln"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="30">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_rln"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="31">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_rp"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="32">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_lgre"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="33">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_hgre"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="34">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_srlge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="35">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_srhge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="36">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_lrlge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="37">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_lrhge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="38">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_glv"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="39">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glrlm_rlv"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="40">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_sze"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="41">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_lze"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="42">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_gln"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="43">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_zsn"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="44">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_zp"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="45">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_lgze"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="46">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_hgze"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="47">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_szlge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="48">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_szhge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="49">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_lzlge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="50">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_lzhge"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="51">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_glv"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="52">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="glszm_zsv"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="53">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="ngtdm_coarseness"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="54">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="ngtdm_contrast"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="55">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="ngtdm_busyness"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="56">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="ngtdm_complexity"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="57">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="ngtdm_strength"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.DoubleCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
<config key="58">
<entry key="UserSetValues" type="xboolean" value="false"/>
<entry key="MissValuePattern" type="xstring" isnull="true" value=""/>
<entry key="FormatParameter" type="xstring" isnull="true" value=""/>
<entry key="ReadPossValsFromFile" type="xboolean" value="false"/>
<entry key="SkipThisColumn" type="xboolean" value="false"/>
<entry key="ColumnName" type="xstring" value="label"/>
<config key="ColumnClass">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.IntCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Load %%00010the dataset"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="-13"/>
<entry key="y-coordinate" type="xint" value="239"/>
<entry key="width" type="xint" value="107"/>
<entry key="height" type="xint" value="26"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="11"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.io.filereader.FileReaderNodeFactory"/>
<entry key="node-name" type="xstring" value="File Reader"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-bundle-version" type="xstring" value="3.4.1.v201709070950"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME GmbH, Konstanz, Germany"/>
<entry key="node-feature-version" type="xstring" value="3.4.2.v201709221023"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="File Reader"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 44, Cols: 59"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="e3191d3b-ab0e-47d6-99bb-e436713a4775"/>
</config>
</config>
